<!DOCTYPE html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/images/icon.svg"
      type="image/x-icon"
    />
    <title><%= title || 'Kinetra Admin' %></title>
    <!-- Dynamic title fallback -->

    <!-- Bootstrap + Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- SlimSelect -->
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/slim-select@latest/dist/slimselect.css"
    />
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- Your custom styles -->
    <link rel="stylesheet" href="/public/styles/theme.css" />
  </head>
</html>
