/* inter-200 - latin */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v18-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v18-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v18-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  background-color: #eceeef;
}

* {
  font-family: "Inter";
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: flex-start;
  padding: 0.25rem 0.5rem 0.25rem 0;
  color: #697472;
  background-color: transparent;
  border: 0;
  width: 100%;
}
.btn-toggle i {
  font-size: 1.2rem;
}
.btn-toggle:hover {
  color: #1b7e87;
}

.btn-toggle,
.btn-link {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.btn-link {
  color: #697472;
  padding-left: 0;
  text-decoration: none;
}
.btn-link i {
  font-size: 1.2rem;
}
.btn-link:hover {
  color: #1b7e87;
}

.btn-toggle-nav {
  padding-left: 50px;
}
.btn-toggle-nav a {
  font-family: "Outfit", sans-serif;
  color: #203a33;
}
.btn-toggle-nav a:hover {
  background-color: #d4fcff !important;
  color: #125f9e !important;
}
.btn-toggle-nav a.active {
  color: #125f9e;
  font-weight: 500;
  background-color: #d4fcff !important;
}

.btn-toggle-nav a {
  display: inline-flex;
  justify-content: flex-start;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 0;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.main-sidebar {
  background-color: #ffffff;
  max-height: 100dvh !important;
  /* Rotate arrow when open */
}
.main-sidebar .header img {
  height: 30px;
}
.main-sidebar .sidebar-menu {
  max-height: calc(100dvh - 94px);
  overflow-y: auto;
  transition: background-color 0.3s ease;
  /* WebKit Scrollbar */
  scrollbar-width: none;
  scrollbar-color: #1465b1 transparent;
}
.main-sidebar .sidebar-menu:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.main-sidebar .sidebar-menu::-webkit-scrollbar {
  width: 0px;
}
.main-sidebar .sidebar-menu::-webkit-scrollbar-track {
  background: transparent;
}
.main-sidebar .sidebar-menu::-webkit-scrollbar-thumb {
  background-color: rgba(166, 177, 187, 0);
  border-radius: 10px;
  visibility: hidden;
}
.main-sidebar .sidebar-menu:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.main-sidebar .btn-toggle::after {
  content: "\f282"; /* Bootstrap Icon: chevron-down */
  font-family: "Bootstrap-icons";
  float: right;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.main-sidebar .btn-toggle[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.main-sidebar .border-bottom {
  border-bottom: 1.5px solid #cfd3d8 !important;
}

nav {
  border-bottom: 1.5px solid #cfd3d8 !important;
  height: 64px;
  background-color: #eceeef;
}
nav .dropdown-toggle::after {
  display: none;
}
nav .bi {
  color: #8380ad;
  font-size: 1.7rem !important;
}
nav .dropdown-menu {
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .dropdown-menu .uname {
  font-weight: 600;
  color: #697472;
  text-align: center;
}
nav .dropdown-menu .role {
  font-size: 0.75rem;
  color: #1b7e87;
  text-align: center;
  margin-bottom: 0.5rem;
}
nav .dropdown-menu .dropdown-item {
  font-size: 0.875rem;
  color: #697472;
}
nav .dropdown-menu .dropdown-item:hover {
  color: #1b7e87;
}
nav .dropdown-menu .dropdown-item i {
  font-size: 1.1rem;
}
nav .dropdown-menu .dropdown-item:active,
nav .dropdown-menu .dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
}

#fullscreenToggle {
  margin-left: -10px;
}
#fullscreenToggle i {
  font-size: 1.5rem !important;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 1.1rem; /* consistent icon size */
  color: #6c757d; /* Bootstrap text-secondary */
  position: relative;
  border-radius: 50%;
  margin-left: -5px;
  transition: background-color 0.2s ease;
}
.nav-icon i {
  font-size: 1.4rem !important;
}

.nav-icon:hover {
  background-color: rgba(0, 0, 0, 0.05); /* subtle hover */
}

.notif-dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  background-color: #dc3545;
  border-radius: 50%;
  border: 2px solid white;
}

.dash-body {
  position: relative;
  display: flex;
}
.dash-body .main-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100dvh;
}
.dash-body main {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #203a33;
  font-weight: 600;
  font-family: "Outfit", sans-serif !important;
}

p,
.p {
  color: #697472;
}

.p-45 {
  padding: 2rem 2.5rem;
}
@media screen and (max-width: 576px) {
  .p-45 {
    padding: 1.2rem 1.5rem 1.5rem;
  }
}

.fs-7 {
  font-size: 0.875rem;
}

.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 1rem;
}
@media screen and (max-width: 576px) {
  .auth {
    min-height: 100dvh;
  }
}
.auth .logo-wrapper {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.auth .logo {
  max-height: 35px;
}
.auth .wrapper {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 2rem 2rem 2.5rem;
}
.auth .hasPassword {
  position: relative;
}
.auth .hasPassword .showPass {
  position: absolute;
  right: 0;
  top: 26px;
  padding: 0.5rem 0.85rem 0.5rem 0.5rem;
  font-size: 1.2rem;
  color: #697472;
  cursor: pointer;
}
.auth .h4 {
  color: #697472;
  font-size: 1rem;
  font-weight: 500;
}
.auth .p {
  font-size: 1.1rem;
  color: #203a33;
  text-align: center;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.hasPassword {
  position: relative;
}
.hasPassword .showPass {
  position: absolute;
  right: 0;
  top: 28px;
  padding: 0.5rem 0.85rem 0.5rem 0.5rem;
  font-size: 1.2rem;
  color: #697472;
  cursor: pointer;
}

.option {
  text-transform: capitalize !important;
}

.ss-content .ss-list .ss-option {
  display: block;
  padding: 0.65rem 1rem !important;
  white-space: normal;
  color: #203a33 !important;
  font-size: 0.875rem !important;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ss-content .ss-list .ss-option:hover {
  color: #ffffff !important;
  background-color: #1b7e87 !important;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: #203a33 !important;
  background-color: #eceeef !important;
}

.ss-value {
  background-color: #1b7e87 !important;
}

.ss-value-text {
  font-size: 0.8rem;
}

.ss-content .ss-search {
  color: #ff5757;
  font-size: 0.8rem;
  text-transform: none !important;
}

.form-label {
  font-size: 0.9rem;
  color: #203a33;
  margin-bottom: 0.35rem;
  font-family: "Outfit", sans-serif;
}

.fieldset-label {
  font-size: 0.75rem;
}

.text-error {
  color: #ff5757;
}

.form-control,
.form-select {
  background-color: #ffffff !important;
  border: 1px solid #ced4da !important;
  color: #203a33;
  font-size: 0.875rem;
  padding: 0.5rem 0.85rem;
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: #a19fc1;
}
.form-control::placeholder,
.form-select::placeholder {
  color: #a19fc1;
}
.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
}
.form-control:-moz-read-only, .form-select:-moz-read-only {
  background-color: #eceeef !important;
  border: none !important;
}
.form-control:read-only,
.form-select:read-only {
  background-color: #eceeef !important;
  border: none !important;
}

.ss-main {
  background-color: #ffffff !important;
  border: 1px solid #ced4da !important;
  color: #203a33;
  font-size: 0.875rem;
  padding: 0.5rem 0.85rem;
}
.ss-main::-moz-placeholder {
  color: #a19fc1;
}
.ss-main::placeholder {
  color: #a19fc1;
}
.ss-main:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  height: 38.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.btn.btn-primary {
  background-color: #1b7e87;
  border-color: #1b7e87;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #1f929c;
  border-color: #1f929c;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #1b7e87;
  color: #203a33;
}
.btn-outline-primary:hover {
  background-color: #1f929c;
  border-color: #1f929c;
}

.btn-sm {
  height: -moz-min-content;
  height: min-content;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
}

.px-mp {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.px-25 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.alert {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
}

.p-title {
  font-size: 1rem;
  font-weight: 600;
  color: #697472;
  font-family: "Outfit", sans-serif;
  line-height: 1.4;
  line-height: normal;
}

/* Customize the label (the check-container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #203a33;
  width: -moz-fit-content;
  width: fit-content;
}
.check-container .statusText {
  font-size: 1rem;
}
.check-container .statusText.active {
  background-color: transparent;
  color: #1b7e87;
}
.check-container .statusText.inactive {
  background-color: transparent;
  color: #ff5757;
}

.check-container.light {
  color: #ffffff;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 0.25rem;
  border: solid #697472 1px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #eceeef;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  transition: all 0.2s;
  background-color: #1b7e87;
  border-color: #1b7e87;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5.5px;
  top: 1.2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.status-check.checkmark {
  top: 2px;
  background-color: transparent;
  border-radius: 0.25rem;
  border: solid #c82a3a 1px;
}

.check-container .status-check.checkmark:after {
  left: 5.5px;
  top: 1px;
  width: 6px;
  height: 10px;
}

.check-container input:checked ~ .status-check.checkmark {
  transition: all 0.2s;
  background-color: #18ca7a;
  border-color: #18ca7a;
}

.option {
  text-transform: capitalize;
}

.ss-option {
  font-family: "Outfit", sans-serif;
}

.ss-values {
  text-transform: capitalize !important;
}

.ss-single {
  font-family: "Outfit", sans-serif;
}

.gridjs-wrapper {
  border-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.gridjs-container {
  overflow-x: unset !important;
}

.gridjs-wrapper {
  overflow-x: unset !important;
}

.gridjs-table {
  table-layout: auto !important;
  width: 100% !important;
}

.gridjs-footer {
  box-shadow: none !important;
}

.text-cap {
  text-transform: capitalize !important;
}

.td,
.th {
  font-size: 0.9rem !important;
  color: #203a33 !important;
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
}
.td:first-child,
.th:first-child {
  text-transform: capitalize;
}

.gridjs-tr {
  vertical-align: middle;
}

.gridjs thead th {
  color: #697472 !important;
  font-weight: 500;
}

.gridjs-th-content {
  font-family: "Outfit", sans-serif !important;
}

.gridjs thead th:hover {
  background-color: transparent !important;
}

.td.gridjs-td {
  padding: 1.2rem 0.5rem !important;
}

span.statusText {
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
}

span.statusText.active {
  background-color: rgba(57, 218, 138, 0.17);
  color: #39da8a;
}

span.statusText.inactive {
  background-color: rgba(255, 91, 92, 0.17);
  color: #ff5b5c;
}

.role-label {
  text-transform: capitalize;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: #f9f9f9;
  border-radius: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
}

.role-label-xl {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.35rem 0.65rem;
  border-radius: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
}

.role-superadmin {
  color: #d32f2f;
  background-color: #ffebee;
}

.role-admin {
  color: #1976d2;
  background-color: #e3f2fd;
}

.role-moderator {
  color: #388e3c;
  background-color: #e8f5e9;
}

.role-sales {
  color: #f57c00;
  background-color: #fff3e0;
}

.role-storage {
  color: #7b1fa2;
  background-color: #f3e5f5;
}

.role-accounts {
  color: #00796b;
  background-color: #e0f2f1;
}

.form-title {
  color: #203a33;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

small {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
}

.card h6 {
  color: #203a33;
  font-size: 1.1rem;
}

.modal-header {
  padding: 1.5rem;
}